body {
    height: 80%;
}

.outer {
    margin: 0px auto;
    width: 80%;
    border-style: solid;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    background-color: aquamarine;
}

.inner {
    border-style: solid;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: azure;
}

.image {
    border-style: solid;
    border-width: 15px;
    width: 10%;
    height: 10%;
}

hr {
    width: 12%;
    border-top: 5px dashed;
}